In [63]:
import pandas as pd
import numpy as np

file_path = 'input.txt'
df = pd.read_csv(file_path, header=None, sep=' ')
df.columns = ['content']

df

                                              content
0                                    vJrrdQlGBQWPTBTF
1                  fcpTMnMqMfTnZpgMfPbFBWzHPpBPzbCPPH
2    mcVMfcsqZgmgVcmfgcmZmqZNJhrlrdhNhDdrRRJSvDTRhJlD
3                  pMFRmLwHMbRPmMbPPddvqqrrNSTFVttdrN
4                        hgfpgCGZcjpcgfvNtdrtjvrdtSrd
..                                                ...
295                  vpwwvQwCnhNQpSnLdVtrrZGZtZjdVSdJ
296          hfffwvTpvLwDpCLvDnQDHbmRRTcWRHMWWHWMmWMW
297                  WHlNHWWldjpwntnWBPpPQFZFBFhZBZCZ
298          TqqvgvmgfmvDVLLfqqLsrFBRhrrBFJQBGPgPZGCR
299              mcDbcDmzLcmDDzfVzTQNjNzNztdzjNdwSHlH

[300 rows x 1 columns]

In [22]:
def first_half(s):
    return s[:len(s)//2]
    
def second_half(s):
    return s[len(s)//2:]
df['compartment1'] = df['content'].map(first_half)
df['compartment2'] = df['content'].map(second_half)
df

,content,compartment1,compartment2
0,vJrrdQlGBQWPTBTF,vJrrdQlG,BQWPTBTF
1,fcpTMnMqMfTnZpgMfPbFBWzHPpBPzbCPPH,fcpTMnMqMfTnZpgMf,PbFBWzHPpBPzbCPPH
2,mcVMfcsqZgmgVcmfgcmZmqZNJhrlrdhNhDdrRRJSvDTRhJlD,mcVMfcsqZgmgVcmfgcmZmqZN,JhrlrdhNhDdrRRJSvDTRhJlD
3,pMFRmLwHMbRPmMbPPddvqqrrNSTFVttdrN,pMFRmLwHMbRPmMbPP,ddvqqrrNSTFVttdrN
4,hgfpgCGZcjpcgfvNtdrtjvrdtSrd,hgfpgCGZcjpcgf,vNtdrtjvrdtSrd
...,...,...,...
295,vpwwvQwCnhNQpSnLdVtrrZGZtZjdVSdJ,vpwwvQwCnhNQpSnL,dVtrrZGZtZjdVSdJ
296,hfffwvTpvLwDpCLvDnQDHbmRRTcWRHMWWHWMmWMW,hfffwvTpvLwDpCLvDnQD,HbmRRTcWRHMWWHWMmWMW
297,WHlNHWWldjpwntnWBPpPQFZFBFhZBZCZ,WHlNHWWldjpwntnW,BPpPQFZFBFhZBZCZ
298,TqqvgvmgfmvDVLLfqqLsrFBRhrrBFJQBGPgPZGCR,TqqvgvmgfmvDVLLfqqLs,rFBRhrrBFJQBGPgPZGCR
299,mcDbcDmzLcmDDzfVzTQNjNzNztdzjNdwSHlH,mcDbcDmzLcmDDzfVzT,QNjNzNztdzjNdwSHlH

In [34]:
def find_common_character(s1, s2):
    l1 = list(s1)
    l2 = list(s2)
    return list(set(l1).intersection(l2))[0]

df['in_both'] = df.apply(lambda x: find_common_character(x.compartment1, x.compartment2), axis=1)
pd.set_option('display.max_rows', 40)
df

,content,compartment1,compartment2,in_both
0,vJrrdQlGBQWPTBTF,vJrrdQlG,BQWPTBTF,Q
1,fcpTMnMqMfTnZpgMfPbFBWzHPpBPzbCPPH,fcpTMnMqMfTnZpgMf,PbFBWzHPpBPzbCPPH,p
2,mcVMfcsqZgmgVcmfgcmZmqZNJhrlrdhNhDdrRRJSvDTRhJlD,mcVMfcsqZgmgVcmfgcmZmqZN,JhrlrdhNhDdrRRJSvDTRhJlD,N
3,pMFRmLwHMbRPmMbPPddvqqrrNSTFVttdrN,pMFRmLwHMbRPmMbPP,ddvqqrrNSTFVttdrN,F
4,hgfpgCGZcjpcgfvNtdrtjvrdtSrd,hgfpgCGZcjpcgf,vNtdrtjvrdtSrd,j
...,...,...,...,...
295,vpwwvQwCnhNQpSnLdVtrrZGZtZjdVSdJ,vpwwvQwCnhNQpSnL,dVtrrZGZtZjdVSdJ,S
296,hfffwvTpvLwDpCLvDnQDHbmRRTcWRHMWWHWMmWMW,hfffwvTpvLwDpCLvDnQD,HbmRRTcWRHMWWHWMmWMW,T
297,WHlNHWWldjpwntnWBPpPQFZFBFhZBZCZ,WHlNHWWldjpwntnW,BPpPQFZFBFhZBZCZ,p
298,TqqvgvmgfmvDVLLfqqLsrFBRhrrBFJQBGPgPZGCR,TqqvgvmgfmvDVLLfqqLs,rFBRhrrBFJQBGPgPZGCR,g
299,mcDbcDmzLcmDDzfVzTQNjNzNztdzjNdwSHlH,mcDbcDmzLcmDDzfVzT,QNjNzNztdzjNdwSHlH,z

In [50]:
priority_dict = {
    'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9, 'j': 10,
    'k': 11, 'l': 12, 'm': 13, 'n': 14, 'o': 15, 'p': 16, 'q': 17, 'r': 18, 's': 19,
    't': 20, 'u': 21, 'v': 22, 'w': 23, 'x': 24, 'y': 25, 'z': 26, 'A': 27, 'B': 28,
    'C': 29, 'D': 30, 'E': 31, 'F': 32, 'G': 33, 'H': 34, 'I': 35, 'J': 36, 'K': 37,
    'L': 38, 'M': 39, 'N': 40, 'O': 41, 'P': 42, 'Q': 43, 'R': 44, 'S': 45, 'T': 46,
    'U': 47, 'V': 48, 'W': 49, 'X': 50, 'Y': 51, 'Z': 52,
    }
df['priority'] = df['in_both']
df.replace({"priority": priority_dict}, inplace=True)

df

,content,compartment1,compartment2,in_both,priority
0,vJrrdQlGBQWPTBTF,vJrrdQlG,BQWPTBTF,Q,43
1,fcpTMnMqMfTnZpgMfPbFBWzHPpBPzbCPPH,fcpTMnMqMfTnZpgMf,PbFBWzHPpBPzbCPPH,p,16
2,mcVMfcsqZgmgVcmfgcmZmqZNJhrlrdhNhDdrRRJSvDTRhJlD,mcVMfcsqZgmgVcmfgcmZmqZN,JhrlrdhNhDdrRRJSvDTRhJlD,N,40
3,pMFRmLwHMbRPmMbPPddvqqrrNSTFVttdrN,pMFRmLwHMbRPmMbPP,ddvqqrrNSTFVttdrN,F,32
4,hgfpgCGZcjpcgfvNtdrtjvrdtSrd,hgfpgCGZcjpcgf,vNtdrtjvrdtSrd,j,10
...,...,...,...,...,...
295,vpwwvQwCnhNQpSnLdVtrrZGZtZjdVSdJ,vpwwvQwCnhNQpSnL,dVtrrZGZtZjdVSdJ,S,45
296,hfffwvTpvLwDpCLvDnQDHbmRRTcWRHMWWHWMmWMW,hfffwvTpvLwDpCLvDnQD,HbmRRTcWRHMWWHWMmWMW,T,46
297,WHlNHWWldjpwntnWBPpPQFZFBFhZBZCZ,WHlNHWWldjpwntnW,BPpPQFZFBFhZBZCZ,p,16
298,TqqvgvmgfmvDVLLfqqLsrFBRhrrBFJQBGPgPZGCR,TqqvgvmgfmvDVLLfqqLs,rFBRhrrBFJQBGPgPZGCR,g,7
299,mcDbcDmzLcmDDzfVzTQNjNzNztdzjNdwSHlH,mcDbcDmzLcmDDzfVzT,QNjNzNztdzjNdwSHlH,z,26

In [51]:
df['priority'].sum()

7795

In [74]:
df2 = pd.read_csv(file_path, header=None, sep=' ')
df2.columns = ['content']
df2 = df2.reset_index()
df2

     index                                           content
0        0                                  vJrrdQlGBQWPTBTF
1        1                fcpTMnMqMfTnZpgMfPbFBWzHPpBPzbCPPH
2        2  mcVMfcsqZgmgVcmfgcmZmqZNJhrlrdhNhDdrRRJSvDTRhJlD
3        3                pMFRmLwHMbRPmMbPPddvqqrrNSTFVttdrN
4        4                      hgfpgCGZcjpcgfvNtdrtjvrdtSrd
..     ...                                               ...
295    295                  vpwwvQwCnhNQpSnLdVtrrZGZtZjdVSdJ
296    296          hfffwvTpvLwDpCLvDnQDHbmRRTcWRHMWWHWMmWMW
297    297                  WHlNHWWldjpwntnWBPpPQFZFBFhZBZCZ
298    298          TqqvgvmgfmvDVLLfqqLsrFBRhrrBFJQBGPgPZGCR
299    299              mcDbcDmzLcmDDzfVzTQNjNzNztdzjNdwSHlH

[300 rows x 2 columns]

In [75]:
df2['elf_number'] = df2['index'].mod(3)
df2['group_number'] = np.floor(df2['index'].div(3)).astype('int')
df2

,index,content,elf_number,group_number
0,0,vJrrdQlGBQWPTBTF,0,0
1,1,fcpTMnMqMfTnZpgMfPbFBWzHPpBPzbCPPH,1,0
2,2,mcVMfcsqZgmgVcmfgcmZmqZNJhrlrdhNhDdrRRJSvDTRhJlD,2,0
3,3,pMFRmLwHMbRPmMbPPddvqqrrNSTFVttdrN,0,1
4,4,hgfpgCGZcjpcgfvNtdrtjvrdtSrd,1,1
...,...,...,...,...
295,295,vpwwvQwCnhNQpSnLdVtrrZGZtZjdVSdJ,1,98
296,296,hfffwvTpvLwDpCLvDnQDHbmRRTcWRHMWWHWMmWMW,2,98
297,297,WHlNHWWldjpwntnWBPpPQFZFBFhZBZCZ,0,99
298,298,TqqvgvmgfmvDVLLfqqLsrFBRhrrBFJQBGPgPZGCR,1,99
299,299,mcDbcDmzLcmDDzfVzTQNjNzNztdzjNdwSHlH,2,99

In [76]:
df3 = df2.pivot(index='group_number', columns='elf_number', values='content')
df3.columns = ['content1', 'content2', 'content3']
df3

,content1,content2,content3
group_number,,,
0,vJrrdQlGBQWPTBTF,fcpTMnMqMfTnZpgMfPbFBWzHPpBPzbCPPH,mcVMfcsqZgmgVcmfgcmZmqZNJhrlrdhNhDdrRRJSvDTRhJlD
1,pMFRmLwHMbRPmMbPPddvqqrrNSTFVttdrN,hgfpgCGZcjpcgfvNtdrtjvrdtSrd,gZgsBBBlZggBGhsfhpzlzLDLmLRDRMLDPw
2,hChhMFCvqtTMwbSSHgTZWHZd,jjBNPjJJNfsNjVnVJJNcNfPwGbSbDZnZZgHrddwHrrgWGb,mBBRRmBBQBmNJWhCzqllzhRCCv
3,lQgpngNgQvHdSgWwjMRmDjmMDHmm,zCLVzfzzbbCzsZZPbZPLfFJJMDWWRcDsmJRcjmwTmlRj,BblftzBtlFznptSQQQppNG
4,wJJwqCtCGRcVlqlM,BQpppjBQLczTrvHRjH,QQQFnmQWWRfnpQBpQpfDCwCdbPDCwbNNPtdJPCZw
...,...,...,...
95,FpFHCFWtFSnCWnBfJJfgMJDGHDGGsG,rhrLrrhLrbtZThLfgsfGNDfgTgNcDs,QmPjbdqjmbbbrmhQqQZrZStRdlnnFdlRzVVVWlnpzR
96,bBMwwjzhbjhssvsGZBSZLr,JFtnDtRzJtffJHWNtHncRRrvGZvSnllZZZsgvlnvVvlv,RRPHPHFPHHdcHtzNfMQhdCwbqCmbMChhqq
97,pWGdFSWwwjLdvgNNvggl,mTNbmRPHmmVNmvZhnhBssBlhnb,HPTzRPffJJNzjCFpDWDz
98,MHlgzsqHlbmzgsHzlsbcRWPdPtjZFqhGGdrPrjPJGrVP,vpwwvQwCnhNQpSnLdVtrrZGZtZjdVSdJ,hfffwvTpvLwDpCLvDnQDHbmRRTcWRHMWWHWMmWMW
99,WHlNHWWldjpwntnWBPpPQFZFBFhZBZCZ,TqqvgvmgfmvDVLLfqqLsrFBRhrrBFJQBGPgPZGCR,mcDbcDmzLcmDDzfVzTQNjNzNztdzjNdwSHlH

In [79]:
def find_common_character2(s1, s2, s3):
    l1 = list(s1)
    l2 = list(s2)
    l3 = list(s3)
    return list(set(l1).intersection(l2).intersection(l3))[0]

df3['common'] = df3.apply(lambda x: find_common_character2(x.content1, x.content2, x.content3), axis=1)

df3['priority'] = df3['common']
df3.replace({"priority": priority_dict}, inplace=True)
df3

,content1,content2,content3,common,priority
group_number,,,,,
0,vJrrdQlGBQWPTBTF,fcpTMnMqMfTnZpgMfPbFBWzHPpBPzbCPPH,mcVMfcsqZgmgVcmfgcmZmqZNJhrlrdhNhDdrRRJSvDTRhJlD,T,46
1,pMFRmLwHMbRPmMbPPddvqqrrNSTFVttdrN,hgfpgCGZcjpcgfvNtdrtjvrdtSrd,gZgsBBBlZggBGhsfhpzlzLDLmLRDRMLDPw,p,16
2,hChhMFCvqtTMwbSSHgTZWHZd,jjBNPjJJNfsNjVnVJJNcNfPwGbSbDZnZZgHrddwHrrgWGb,mBBRRmBBQBmNJWhCzqllzhRCCv,W,49
3,lQgpngNgQvHdSgWwjMRmDjmMDHmm,zCLVzfzzbbCzsZZPbZPLfFJJMDWWRcDsmJRcjmwTmlRj,BblftzBtlFznptSQQQppNG,l,12
4,wJJwqCtCGRcVlqlM,BQpppjBQLczTrvHRjH,QQQFnmQWWRfnpQBpQpfDCwCdbPDCwbNNPtdJPCZw,R,44
...,...,...,...,...,...
95,FpFHCFWtFSnCWnBfJJfgMJDGHDGGsG,rhrLrrhLrbtZThLfgsfGNDfgTgNcDs,QmPjbdqjmbbbrmhQqQZrZStRdlnnFdlRzVVVWlnpzR,t,20
96,bBMwwjzhbjhssvsGZBSZLr,JFtnDtRzJtffJHWNtHncRRrvGZvSnllZZZsgvlnvVvlv,RRPHPHFPHHdcHtzNfMQhdCwbqCmbMChhqq,z,26
97,pWGdFSWwwjLdvgNNvggl,mTNbmRPHmmVNmvZhnhBssBlhnb,HPTzRPffJJNzjCFpDWDz,N,40
98,MHlgzsqHlbmzgsHzlsbcRWPdPtjZFqhGGdrPrjPJGrVP,vpwwvQwCnhNQpSnLdVtrrZGZtZjdVSdJ,hfffwvTpvLwDpCLvDnQDHbmRRTcWRHMWWHWMmWMW,h,8
99,WHlNHWWldjpwntnWBPpPQFZFBFhZBZCZ,TqqvgvmgfmvDVLLfqqLsrFBRhrrBFJQBGPgPZGCR,mcDbcDmzLcmDDzfVzTQNjNzNztdzjNdwSHlH,Q,43

In [80]:
df3['priority'].sum()

2703